img,.col-sm-2{
  width:100px;
  height:100px;
}

.col-sm-2{
  border: 1px solid black;
  padding: 1px;
}/*
#col0-row1{
  transform: rotate(0deg);
}
#col1-row1{
  transform: rotate(0deg);
}
#col1-row2{
  transform: rotate(0deg);
}*/

.my-Container{
  margin : 0 auto; 
  width: 600px;
}
.row {
  background-color : blue;
}